.navbar {
	margin-bottom: 50px;
	border-radius: 0;
}

.selected {
	background-color: #1CB94E !important;
}

.btn-action {
	padding: 3px;
}

.nav li:hover {
	background-color: #1CB94E;
}
.color-red{
	color: red;
}
.error-area{
  padding: 25px;
  background: #f2dede;
  text-align: center;
  color: #a94442;
}